In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

## Chargement des données du Dataset UNSW-NB15

In [3]:
df = []  # list to store the dataframes
for i in range(1, 5):  # loop to load the 4 csv files
    df.append(pd.read_csv('Data/UNSW-NB15 - CSV Files/UNSW-NB15_' + str(i) + '.csv', header=None, low_memory=False))
all_df = pd.concat(df).reset_index(drop=True)

In [4]:
## Récupération des noms des colonnes

In [5]:
df_col = pd.read_csv('Data/UNSW-NB15 - CSV Files/NUSW-NB15_features.csv', encoding='ISO-8859-1')
# Making column names lower case, removing spaces
df_col['Name'] = df_col['Name'].apply(lambda x: x.strip().replace(' ', '').lower())
# Renaming our dataframe with proper column names
all_df.columns = df_col['Name']

In [6]:
## Affichage de différentes informations sur le Dataset

In [7]:
# Displaying the shape of the dataset
print("Shape of dataset:")
print(all_df.shape)

# Display the first few rows of the DataFrame
print("\nHead of dataset:")
print(all_df.head())

# Displaying basic statistics of the DataFrame
print("\nDescriptive Statistics:")
print(all_df.describe(include='all'))

# Checking for missing values
print("\nMissing Values:")
print(all_df.isnull().sum())

Shape of dataset:
(2540047, 49)

Head of dataset:
Name       srcip  sport          dstip dsport proto state       dur  sbytes  \
0     59.166.0.0   1390  149.171.126.6     53   udp   CON  0.001055     132
1     59.166.0.0  33661  149.171.126.9   1024   udp   CON  0.036133     528
2     59.166.0.6   1464  149.171.126.7     53   udp   CON  0.001119     146
3     59.166.0.5   3593  149.171.126.5     53   udp   CON  0.001209     132
4     59.166.0.3  49664  149.171.126.0     53   udp   CON  0.001169     146

Name  dbytes  sttl  ...  ct_ftp_cmd  ct_srv_src  ct_srv_dst ct_dst_ltm  \
0        164    31  ...           0           3           7          1
1        304    31  ...           0           2           4          2
2        178    31  ...           0          12           8          1
3        164    31  ...           0           6           9          1
4        178    31  ...           0           7           9          1

Name  ct_src_ltm  ct_src_dport_ltm  ct_dst_sport_ltm  ct_dst_src_ltm  \
0              3                 1                 1               1
1              3                 1                 1               2
2              2                 2                 1               1
3              1                 1                 1               1
4              1                 1                 1               1

Name  attack_cat  label
0            NaN      0
1            NaN      0
2            NaN      0
3            NaN      0
4            NaN      0

[5 rows x 49 columns]

Descriptive Statistics:
Name         srcip      sport          dstip   dsport    proto    state  \
count      2540047  2540047.0        2540047  2540047  2540047  2540047
unique          43   129124.0             47    64630      135       16
top     59.166.0.4     1043.0  149.171.126.3       53      tcp      FIN
freq        197959   214363.0         197771   798968  1495074  1478689
mean           NaN        NaN            NaN      NaN      NaN      NaN
std            NaN        NaN            NaN      NaN      NaN      NaN
min            NaN        NaN            NaN      NaN      NaN      NaN
25%            NaN        NaN            NaN      NaN      NaN      NaN
50%            NaN        NaN            NaN      NaN      NaN      NaN
75%            NaN        NaN            NaN      NaN      NaN      NaN
max            NaN        NaN            NaN      NaN      NaN      NaN

Name             dur        sbytes        dbytes          sttl  ...  \
count   2.540047e+06  2.540047e+06  2.540047e+06  2.540047e+06  ...
unique           NaN           NaN           NaN           NaN  ...
top              NaN           NaN           NaN           NaN  ...
freq             NaN           NaN           NaN           NaN  ...
mean    6.587916e-01  4.339600e+03  3.642759e+04  6.278197e+01  ...
std     1.392493e+01  5.640599e+04  1.610960e+05  7.462277e+01  ...
min     0.000000e+00  0.000000e+00  0.000000e+00  0.000000e+00  ...
25%     1.037000e-03  2.000000e+02  1.780000e+02  3.100000e+01  ...
50%     1.586100e-02  1.470000e+03  1.820000e+03  3.100000e+01  ...
75%     2.145545e-01  3.182000e+03  1.489400e+04  3.100000e+01  ...
max     8.786638e+03  1.435577e+07  1.465753e+07  2.550000e+02  ...

Name    ct_ftp_cmd    ct_srv_src    ct_srv_dst    ct_dst_ltm    ct_src_ltm  \
count      2540047  2.540047e+06  2.540047e+06  2.540047e+06  2.540047e+06
unique          13           NaN           NaN           NaN           NaN
top                          NaN           NaN           NaN           NaN
freq       1429879           NaN           NaN           NaN           NaN
mean           NaN  9.206988e+00  8.988958e+00  6.439103e+00  6.900986e+00
std            NaN  1.083676e+01  1.082249e+01  8.162034e+00  8.205062e+00
min            NaN  1.000000e+00  1.000000e+00  1.000000e+00  1.000000e+00
25%            NaN  2.000000e+00  2.000000e+00  2.000000e+00  2.000000e+00
50%            NaN  5.000000e+00  5.000000e+00  3.000000e+00  4.000000e+00
75%            NaN  1.000000e+01  1.000000e+01  6.000000e+00  7.000000e+00
max            NaN  6.700000e+01  6.700000e+01  6.700000e+01  6.700000e+01

Name    ct_src_dport_ltm  ct_dst_sport_ltm  ct_dst_src_ltm  attack_cat  \
count       2.540047e+06      2.540047e+06    2.540047e+06      321283
unique               NaN               NaN             NaN          13
top                  NaN               NaN             NaN     Generic
freq                 NaN               NaN             NaN      215481
mean        4.642139e+00      3.592729e+00    6.845886e+00         NaN
std         8.477579e+00      6.174445e+00    1.125828e+01         NaN
min         1.000000e+00      1.000000e+00    1.000000e+00         NaN
25%         1.000000e+00      1.000000e+00    1.000000e+00         NaN
50%         1.000000e+00      1.000000e+00    2.000000e+00         NaN
75%         2.000000e+00      1.000000e+00    5.000000e+00         NaN
max         6.700000e+01      6.000000e+01    6.700000e+01         NaN

Name           label
count   2.540047e+06
unique           NaN
top              NaN
freq             NaN
mean    1.264870e-01
std     3.323975e-01
min     0.000000e+00
25%     0.000000e+00
50%     0.000000e+00
75%     0.000000e+00
max     1.000000e+00

[11 rows x 49 columns]

Missing Values:
Name
srcip                     0
sport                     0
dstip                     0
dsport                    0
proto                     0
state                     0
dur                       0
sbytes                    0
dbytes                    0
sttl                      0
dttl                      0
sloss                     0
dloss                     0
service                   0
sload                     0
dload                     0
spkts                     0
dpkts                     0
swin                      0
dwin                      0
stcpb                     0
dtcpb                     0
smeansz                   0
dmeansz                   0
trans_depth               0
res_bdy_len               0
sjit                      0
djit                      0
stime                     0
ltime                     0
sintpkt                   0
dintpkt                   0
tcprtt                    0
synack                    0
ackdat                    0
is_sm_ips_ports           0
ct_state_ttl              0
ct_flw_http_mthd    1348145
is_ftp_login        1429879
ct_ftp_cmd                0
ct_srv_src                0
ct_srv_dst                0
ct_dst_ltm                0
ct_src_ltm                0
ct_src_dport_ltm          0
ct_dst_sport_ltm          0
ct_dst_src_ltm            0
attack_cat          2218764
label                     0
dtype: int64

## Traitement des données
### Valeurs manquantes
Nous pouvons observé que le Dataset contient 49 colonnes et 2540047 lignes alors que sur les csv nous avons que 2'540’044.
Nous avons 3 colonnes qui contiennent des valeurs manquantes. ct_flw_http_mthd, is_ftp_login et attack_cat. Nous allons donc effectuer un traitement sur ces colonnes. Car les algorithmes de machine learning ne peuvent pas fonctionner avec des valeurs manquantes.

In [8]:
all_df['attack_cat'].value_counts()

attack_cat
Generic             215481
Exploits             44525
 Fuzzers             19195
DoS                  16353
 Reconnaissance      12228
 Fuzzers              5051
Analysis              2677
Backdoor              1795
Reconnaissance        1759
 Shellcode            1288
Backdoors              534
Shellcode              223
Worms                  174
Name: count, dtype: int64

De plus, nous pouvons observer que la valeur "attack_cat" contient 2218761 valeurs manquantes ce qui veut dire qu'elle contient seulement les attaques et pas les valeur "normal".
Nous allons donc remplacer toutes les valeurs null de "attack_cat" par "normal".

In [9]:
all_df['attack_cat'].fillna('normal', inplace=True)
all_df['attack_cat'].value_counts()

attack_cat
normal              2218764
Generic              215481
Exploits              44525
 Fuzzers              19195
DoS                   16353
 Reconnaissance       12228
 Fuzzers               5051
Analysis               2677
Backdoor               1795
Reconnaissance         1759
 Shellcode             1288
Backdoors               534
Shellcode               223
Worms                   174
Name: count, dtype: int64

In [10]:
all_df['is_ftp_login'].value_counts()

is_ftp_login
0.0    1066593
1.0      43389
4.0        156
2.0         30
Name: count, dtype: int64

Nous avons des valeurs null dans "is_ftp_logiN", nous allons supposé que si la valeur est null alors c'est que la valeur est à 0.
De plus, is_ftp_login est une colonne binaire, nous allons les laisser comme tel. Nous allons retravailler cette colonne plus tard.

In [11]:
all_df['is_ftp_login'].fillna(0, inplace=True)
all_df['is_ftp_login'].value_counts()

is_ftp_login
0.0    2496472
1.0      43389
4.0        156
2.0         30
Name: count, dtype: int64

In [12]:
all_df['ct_flw_http_mthd'].value_counts()

ct_flw_http_mthd
0.0     986791
1.0     188008
6.0       7902
4.0       6564
3.0        738
2.0        588
5.0        430
9.0        270
14.0       224
12.0       132
30.0        60
8.0         56
16.0        48
36.0        36
10.0        30
25.0        25
Name: count, dtype: int64

In [13]:
all_df['ct_flw_http_mthd'].fillna(0, inplace=True)

In [14]:
all_df['ct_flw_http_mthd'].value_counts()

ct_flw_http_mthd
0.0     2334936
1.0      188008
6.0        7902
4.0        6564
3.0         738
2.0         588
5.0         430
9.0         270
14.0        224
12.0        132
30.0         60
8.0          56
16.0         48
36.0         36
10.0         30
25.0         25
Name: count, dtype: int64

In [15]:
# Checking for missing values
print("\nMissing Values:", all_df.isnull().sum().sum())

Missing Values: 0

### Types de données

In [16]:
all_df.dtypes # Vérification des types de données

Name
srcip                object
sport                object
dstip                object
dsport               object
proto                object
state                object
dur                 float64
sbytes                int64
dbytes                int64
sttl                  int64
dttl                  int64
sloss                 int64
dloss                 int64
service              object
sload               float64
dload               float64
spkts                 int64
dpkts                 int64
swin                  int64
dwin                  int64
stcpb                 int64
dtcpb                 int64
smeansz               int64
dmeansz               int64
trans_depth           int64
res_bdy_len           int64
sjit                float64
djit                float64
stime                 int64
ltime                 int64
sintpkt             float64
dintpkt             float64
tcprtt              float64
synack              float64
ackdat              float64
is_sm_ips_ports       int64
ct_state_ttl          int64
ct_flw_http_mthd    float64
is_ftp_login        float64
ct_ftp_cmd           object
ct_srv_src            int64
ct_srv_dst            int64
ct_dst_ltm            int64
ct_src_ltm            int64
ct_src_dport_ltm      int64
ct_dst_sport_ltm      int64
ct_dst_src_ltm        int64
attack_cat           object
label                 int64
dtype: object

In [17]:
all_df.select_dtypes(include=['object']).columns # Vérification des types de données

Index(['srcip', 'sport', 'dstip', 'dsport', 'proto', 'state', 'service',
       'ct_ftp_cmd', 'attack_cat'],
      dtype='object', name='Name')

Les types de données "object" sont des données catégoriques. Nous pouvons observer que la colonne "ct_ftp_cmd" est de type "object" alors que c'est une colonne numérique (fichier NUSW-NB15_features.csv).

In [18]:
all_df['ct_ftp_cmd'].value_counts()

ct_ftp_cmd
     1429879
0     686192
0     380306
1      29605
1      10472
2       1168
4        800
3        729
6        332
5        290
4        160
2         96
8         18
Name: count, dtype: int64

Nous pouvons observer que nous avons une ligne qui contient une valeur " ". Nous allons donc remplacer cette valeur par 0.

De plus, nous avons deux fois la valeur "0" et la valeur "1". Nous allons convertir les données en numérique.

In [19]:
all_df['ct_ftp_cmd'].replace(' ', 0, inplace=True)  # remplacer les valeurs " " par 0
all_df['ct_ftp_cmd'] = pd.to_numeric(all_df['ct_ftp_cmd'], errors='coerce')  # convertir les données en numérique

all_df['ct_ftp_cmd'].value_counts()

ct_ftp_cmd
0    2496377
1      40077
2       1264
4        960
3        729
6        332
5        290
8         18
Name: count, dtype: int64

## Valeurs binaires
Les valeurs binaires de ce dataset sont les colonnes "is_ftp_login" et "is_sm_ips_ports" et "label".
Nous allons vérifier si les valeurs sont bien binaires.

In [20]:
all_df['is_ftp_login'].value_counts()

is_ftp_login
0.0    2496472
1.0      43389
4.0        156
2.0         30
Name: count, dtype: int64

In [21]:
all_df['is_sm_ips_ports'].value_counts()

is_sm_ips_ports
0    2535852
1       4195
Name: count, dtype: int64

In [22]:
all_df['label'].value_counts()

label
0    2218764
1     321283
Name: count, dtype: int64

"is_ftp_login" ne contient pas que des valeurs binaires. Nous allons donc convertir les valeurs en binaire.
Tous ce qui est supérieur à 1 sera remplacé par 1.

In [23]:
all_df['is_ftp_login'].replace([2, 4], 1, inplace=True)  # Remplacer le 2 et le 4 par 1 sur le même dataframe

In [24]:
all_df['is_ftp_login'].value_counts()

is_ftp_login
0.0    2496472
1.0      43575
Name: count, dtype: int64

## Valeurs catégoriques
Nous avons vu précédemment que la colonne "attack_cat" contient deux fois la valeur backdoor "backdoors" et "backdoor" et deux fois la colonne Shellcode

In [25]:
# Remplacer les valeurs "backdoors" par "backdoor"
all_df['attack_cat'].replace('Backdoors', 'Backdoor', inplace=True)
all_df['attack_cat'].value_counts()

attack_cat
normal              2218764
Generic              215481
Exploits              44525
 Fuzzers              19195
DoS                   16353
 Reconnaissance       12228
 Fuzzers               5051
Analysis               2677
Backdoor               2329
Reconnaissance         1759
 Shellcode             1288
Shellcode               223
Worms                   174
Name: count, dtype: int64

In [26]:
# Remplacer les valeurs "Shellcode" par "Shellcode"
all_df["attack_cat"] = all_df["attack_cat"].str.lower().str.strip()
all_df['attack_cat'].value_counts()

attack_cat
normal            2218764
generic            215481
exploits            44525
fuzzers             24246
dos                 16353
reconnaissance      13987
analysis             2677
backdoor             2329
shellcode            1511
worms                 174
Name: count, dtype: int64

## Création du fichier Train et Test avec la validation croisée
Nous allons créer un fichier train et test avec la validation croisée.

### Séparation des données

In [27]:
### Séparation des caractéristiques et des cibles
X = all_df.drop("label", axis=1)  # x = toutes les colonnes sauf la colonne "label"
y = all_df["label"]               # y = la colonne "label"

### Diviser les données en ensembles d'entraînement et de test
# test_size = 0.3 signifie que 30% des données seront utilisées pour les tests et 70% pour l'entraînement
# random_state = 42 signifie que les données seront divisées de la même manière à chaque fois
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

# Concaténer les caractéristiques et les cibles pour obtenir les ensembles d'entraînement et de test complets
train_data = pd.concat([X_train, y_train], axis=1)
test_data = pd.concat([X_test, y_test], axis=1)

# Sauvegarder les ensembles d'entraînement et de test en fichiers CSV
train_data.to_csv("train_data.csv", index=False)  # index=False pour ne pas avoir la colonne index
test_data.to_csv("test_data.csv", index=False)